[Unit]
Description=Jupyter Notebook

[Service]
Type=simple
PIDFile=/run/jupyter.pid
ExecStart=jupyter server --ip 0.0.0.0 --port 8085 --notebook-dir=/data/jupyter/notebooks --no-browser --allow-root --ServerApp.token=f9a3bd4e9f2c3be01cd629154cfb224c2703181e050254b5 --config=/data/jupyter/jupyter_server_config.json
User=root
Group=root
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target